*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin

# Signing material - never commit keystores or passwords
*.jks
*.keystore
keystore.properties

# Notizen des KI-Assistenten in Android Studio
.artifacts/

# Eigene Test-Sicherungen (Dateiname beginnt mit dem Datum, z. B. 20260925_Komplett_…).
# Die festen Beispiele wie komplett_minimal.zip bleiben versioniert.
/format/samples/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_*.zip
